.contenedor_inicio {
    /* background-color: rgb(239, 245, 247); */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.ini_logo {
    margin-top: 50px;
}

.ini_titulo {
    font-size: 16pt;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.ini_subtitulo {
    text-align: left;
    /* margin-left: 20px;
    margin-right: 20px; */
    margin-top: 15px;
    margin-bottom: 20px;
    color: rgb(170, 159, 159);
    /* background-color: rgb(214, 240, 248); */

}

.ini_tarjeta {
    background-color: white;
    margin-top: 20px;
    border: rgb(211, 208, 208);

    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    /* border-width: 2px 10px 4px 20px; */
    /* width: 350px; */
    width: 100%;
    max-width: 350px;
    height: 120px;

    /* box-shadow: 2px 2px 2px 2px rgb(218, 216, 216); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.ini_tarjeta:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tarjeta_logo {
    /* background-color: yellow; */
    width: 210px;
    padding-top: 5px;
    padding-left: 10px;

}

.tarjeta_titulo {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.tarjeta_contenido {
    font-size: smaller;
    color: rgb(170, 159, 159);
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}


.button43 {
    background-image: linear-gradient(-180deg, #f8d614 0%, #ffe600 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #351b64;
    display: flex;
    font-size: 16px;
    font-weight: bolder;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 200px;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button43:hover {
    background-image: linear-gradient(-180deg, #f8df52 0%, #eed706 100%);
}