.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.videoDNICSS {

  width: 100vh;

}

/* CSS */
.button-43 {
  background-image: linear-gradient(-180deg, #f8d614 0%, #ffe600 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #351b64;
  display: flex;
  font-size: 16px;
  font-weight: bolder;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 200px;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #f8df52 0%, #eed706 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}

.camera {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.video-circle {
  border-radius: 50%;
  object-fit: cover;
}

.videoCircle {
  border-radius: 50%;
  object-fit: cover;
}


.button-camera-first {
  margin-top: 20px;
}

.textNotificationCamera {
  font-weight: bold;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 300px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.cameraDNI {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  width: 100%;
}

.videoCSS {
  position: absolute;
  display: block
}


.dnilogo {
  width: 85%;
  top: 12.2874%;
  left: 7.5%;
  display: block;
  position: absolute;
  margin-top: 200px;
}

@media (orientation: portrait) {
  .dnilogo {
    width: 85%;
    top: 32.2874%;
    left: 7.5%;
    display: block;
    position: absolute;
    transform: rotate(90deg);
  }
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}